.node-red/.flows.json.backup
[{"id":"49459178.c9087","type":"tab","label":"heroku server","disabled":false,"info":""},{"id":"55d1bf91.36346","type":"websocket-listener","z":"","path":"/ws/publine","wholemsg":"false"},{"id":"accdf505.e2e5f8","type":"websocket-listener","z":"","path":"/ws/pic","wholemsg":"false"},{"id":"79ad30d2.2790e","type":"google-service-account","z":"","name":"jason1990","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"7f523c9e.9be0e4","type":"websocket-listener","z":"","path":"/ws/time","wholemsg":"false"},{"id":"69f37a96.040924","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d8e07a64.a93dd8","type":"websocket in","z":"49459178.c9087","name":"","server":"55d1bf91.36346","client":"","x":120,"y":160,"wires":[["9a228950.3d1068"]]},{"id":"6962b061.aeb91","type":"http request","z":"49459178.c9087","name":"LINE REPLY API","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/reply","tls":"","x":630,"y":160,"wires":[[]]},{"id":"8947272.c0846d8","type":"http in","z":"49459178.c9087","name":"line bot","url":"/linebot","method":"post","upload":false,"swaggerDoc":"","x":90,"y":320,"wires":[["b90c6db4.08353"]]},{"id":"b90c6db4.08353","type":"websocket out","z":"49459178.c9087","name":"line to local","server":"7f523c9e.9be0e4","client":"","x":490,"y":320,"wires":[]},{"id":"9a228950.3d1068","type":"json","z":"49459178.c9087","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["56c4f6cd.6de088"]]},{"id":"56c4f6cd.6de088","type":"change","z":"49459178.c9087","name":"","rules":[{"t":"move","p":"payload.headers","pt":"msg","to":"headers","tot":"msg"},{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["6962b061.aeb91"]]},{"id":"f402e581.8337b8","type":"comment","z":"49459178.c9087","name":"由Line透過webhook連接至node-red heroku","info":"","x":200,"y":280,"wires":[]},{"id":"b11aaf2f.1450f","type":"comment","z":"49459178.c9087","name":"node-red heroku 透過websocket連接至local","info":"","x":590,"y":280,"wires":[]},{"id":"25dfa642.a5b53a","type":"comment","z":"49459178.c9087","name":"local 端透過websocket連接至node-red heroku","info":"","x":210,"y":120,"wires":[]},{"id":"f090bb85.5480d8","type":"comment","z":"49459178.c9087","name":"node-red heroku 將訊息回復至line伺服器","info":"","x":700,"y":120,"wires":[]}]