.node-red/.flows.json.backup
[{"id":"49459178.c9087","type":"tab","label":"heroku server","disabled":false,"info":""},{"id":"55d1bf91.36346","type":"websocket-listener","z":"","path":"/ws/pub_to_heroku","wholemsg":"false"},{"id":"7f523c9e.9be0e4","type":"websocket-listener","z":"","path":"/ws/pub_to_local","wholemsg":"false"},{"id":"d8e07a64.a93dd8","type":"websocket in","z":"49459178.c9087","name":"local to heroku","server":"55d1bf91.36346","client":"","x":120,"y":160,"wires":[["9a228950.3d1068"]]},{"id":"6962b061.aeb91","type":"http request","z":"49459178.c9087","name":"LINE REPLY API","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/reply","tls":"","x":670,"y":160,"wires":[[]]},{"id":"8947272.c0846d8","type":"http in","z":"49459178.c9087","name":"line bot server","url":"/linebot","method":"post","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["b90c6db4.08353"]]},{"id":"b90c6db4.08353","type":"websocket out","z":"49459178.c9087","name":"heroku to local","server":"7f523c9e.9be0e4","client":"","x":500,"y":320,"wires":[]},{"id":"9a228950.3d1068","type":"json","z":"49459178.c9087","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["56c4f6cd.6de088"]]},{"id":"56c4f6cd.6de088","type":"change","z":"49459178.c9087","name":"websocket 格式整理","rules":[{"t":"move","p":"payload.headers","pt":"msg","to":"headers","tot":"msg"},{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["6962b061.aeb91"]]},{"id":"f402e581.8337b8","type":"comment","z":"49459178.c9087","name":"由Line透過webhook連接至node-red heroku","info":"","x":200,"y":280,"wires":[]},{"id":"b11aaf2f.1450f","type":"comment","z":"49459178.c9087","name":"node-red heroku 透過websocket連接至local","info":"","x":590,"y":280,"wires":[]},{"id":"25dfa642.a5b53a","type":"comment","z":"49459178.c9087","name":"local 端透過websocket連接至node-red heroku","info":"","x":210,"y":120,"wires":[]},{"id":"f090bb85.5480d8","type":"comment","z":"49459178.c9087","name":"node-red heroku 將訊息回復至line伺服器","info":"","x":740,"y":120,"wires":[]},{"id":"d404efd8.07758","type":"comment","z":"49459178.c9087","name":"heroku端:  listen on","info":"","x":130,"y":420,"wires":[]},{"id":"8301a615.0a03b8","type":"comment","z":"49459178.c9087","name":"local端 :connect to ","info":"","x":130,"y":460,"wires":[]}]