.node-red/flows.json
[{"id":"49459178.c9087","type":"tab","label":"server端程式","disabled":false,"info":""},{"id":"d49d47f4.accb88","type":"tab","label":"keep awake","disabled":false,"info":""},{"id":"30183ad.abfa9c6","type":"tab","label":"token set","disabled":false,"info":""},{"id":"ca65fd6f.a281d","type":"tab","label":"Picture","disabled":false,"info":""},{"id":"2a53da84.536196","type":"tab","label":"read google sheet","disabled":false,"info":""},{"id":"a52cebee.bc3b58","type":"tab","label":"heroku重啟測試","disabled":false,"info":""},{"id":"55d1bf91.36346","type":"websocket-listener","z":"","path":"/ws/publine","wholemsg":"false"},{"id":"accdf505.e2e5f8","type":"websocket-listener","z":"","path":"/ws/pic","wholemsg":"false"},{"id":"79ad30d2.2790e","type":"google-service-account","z":"","name":"jason1990","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"7f523c9e.9be0e4","type":"websocket-listener","z":"","path":"/ws/time","wholemsg":"false"},{"id":"d8e07a64.a93dd8","type":"websocket in","z":"49459178.c9087","name":"","server":"55d1bf91.36346","client":"","x":120,"y":160,"wires":[["a6b4dcbd.a185e","9a228950.3d1068","b65ee404.b1fba8"]]},{"id":"61aa441b.493d8c","type":"debug","z":"49459178.c9087","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":200,"wires":[]},{"id":"5ff543d1.b91bac","type":"http request","z":"d49d47f4.accb88","name":"Call Node-RED Heroku","method":"GET","ret":"txt","url":"https://a3anodered1.herokuapp.com","tls":"","x":388.5000305175781,"y":92.00003814697266,"wires":[[]]},{"id":"7b161cfa.427fb4","type":"inject","z":"d49d47f4.accb88","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":154.1000213623047,"y":92.00001907348633,"wires":[["5ff543d1.b91bac"]]},{"id":"74c77d50.a0a8e4","type":"inject","z":"49459178.c9087","name":"","topic":"","payload":"token","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["13f37fbb.c708f"]]},{"id":"13f37fbb.c708f","type":"debug","z":"49459178.c9087","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":80,"wires":[]},{"id":"e3b6584f.a8c878","type":"change","z":"49459178.c9087","name":"","rules":[{"t":"set","p":"pic","pt":"global","to":"payload.pic.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["61aa441b.493d8c"]]},{"id":"411352e2.e1eb1c","type":"switch","z":"49459178.c9087","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"pic","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":307.1000099182129,"y":286.00001335144043,"wires":[["e3b6584f.a8c878"],[]]},{"id":"889fd0a0.78213","type":"websocket in","z":"49459178.c9087","name":"","server":"accdf505.e2e5f8","client":"","x":125.00000381469727,"y":352.0000162124634,"wires":[["6fb4e78e.5e7ca8"]]},{"id":"6fb4e78e.5e7ca8","type":"change","z":"49459178.c9087","name":"","rules":[{"t":"set","p":"pic","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":319.0000114440918,"y":358.0000162124634,"wires":[["e41317eb.8bb118"]]},{"id":"e41317eb.8bb118","type":"debug","z":"49459178.c9087","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":513.0000190734863,"y":362.0000162124634,"wires":[]},{"id":"b2634487.6d7a78","type":"change","z":"30183ad.abfa9c6","name":"","rules":[{"t":"set","p":"token","pt":"global","to":"NXZDKomlfEej4kgaapdSSzl532ilxcDktjlUUoSCOgJIXIAaX67Fbh219zcd0Wj8kBc+GD9YZOT4oITZG0aMaRdCdWbeuWjnvoLET2cMTtduP0Yi8IQ1pXa3jrR1XsEeQ8042sfl4fMsW0atRkSA3QdB04t89/1O/w1cDnyilFU=","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[[]]},{"id":"5fb15d14.ed77f4","type":"inject","z":"30183ad.abfa9c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":250,"y":100,"wires":[["b2634487.6d7a78"]]},{"id":"d170802e.cf8d3","type":"change","z":"ca65fd6f.a281d","name":"","rules":[{"t":"set","p":"pic1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":362.0000991821289,"y":216.00004291534424,"wires":[[]]},{"id":"6c8d29ea.0e5248","type":"fileinject","z":"ca65fd6f.a281d","name":"","x":183.10006713867188,"y":216.00003719329834,"wires":[["d170802e.cf8d3"]]},{"id":"ff966531.170c08","type":"fileinject","z":"ca65fd6f.a281d","name":"","x":177.10002899169922,"y":279.0000286102295,"wires":[["e47536dd.f26dd8"]]},{"id":"b8f215b6.618808","type":"fileinject","z":"ca65fd6f.a281d","name":"","x":174.10002899169922,"y":334.0000286102295,"wires":[["957823bd.48144"]]},{"id":"f1f3657c.963e58","type":"http in","z":"ca65fd6f.a281d","name":"","url":"/pic1.jpg","method":"get","upload":false,"swaggerDoc":"","x":164,"y":31,"wires":[["c1c25cfe.97485"]]},{"id":"c1c25cfe.97485","type":"change","z":"ca65fd6f.a281d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pic1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":348.00000762939453,"y":32.00000190734863,"wires":[["a7a1599.8494ea8"]]},{"id":"a7a1599.8494ea8","type":"http response","z":"ca65fd6f.a281d","name":"","statusCode":"","headers":{},"x":514.0000648498535,"y":31,"wires":[]},{"id":"2ce1a23c.15445e","type":"http in","z":"ca65fd6f.a281d","name":"","url":"/pic2.jpg","method":"get","upload":false,"swaggerDoc":"","x":165,"y":72,"wires":[["12848815.7d1fe8"]]},{"id":"12848815.7d1fe8","type":"change","z":"ca65fd6f.a281d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pic2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.00000762939453,"y":73.00000190734863,"wires":[["b1f94c67.667b3"]]},{"id":"b1f94c67.667b3","type":"http response","z":"ca65fd6f.a281d","name":"","statusCode":"","headers":{},"x":515.0000648498535,"y":72,"wires":[]},{"id":"9d04d7cc.754ba8","type":"http in","z":"ca65fd6f.a281d","name":"","url":"/pic3.jpg","method":"get","upload":false,"swaggerDoc":"","x":161,"y":115,"wires":[["c63a83f.a66518"]]},{"id":"c63a83f.a66518","type":"change","z":"ca65fd6f.a281d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pic3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":345.00000762939453,"y":116.00000190734863,"wires":[["c73f3376.a5b36"]]},{"id":"c73f3376.a5b36","type":"http response","z":"ca65fd6f.a281d","name":"","statusCode":"","headers":{},"x":511.0000648498535,"y":115,"wires":[]},{"id":"e47536dd.f26dd8","type":"change","z":"ca65fd6f.a281d","name":"","rules":[{"t":"set","p":"pic2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":358.0000114440918,"y":277.00000858306885,"wires":[[]]},{"id":"957823bd.48144","type":"change","z":"ca65fd6f.a281d","name":"","rules":[{"t":"set","p":"pic3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":364,"y":331,"wires":[[]]},{"id":"6948e67c.d0b8b8","type":"google-spreadsheet","z":"2a53da84.536196","name":"google sheet","auth":"79ad30d2.2790e","sheet":"11aVcnAMBzD3x2JtaNNRXOfIZVkeIpqisqbfy48TQnaI","range":"drinks","method":"append","direction":"line","action":"get","clear":false,"line":true,"column":false,"fields":"all","save":"_sheet","selfields":[""],"cell_l":"","cell_c":"","input":"","output":"payload","saveType":"global","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","cell_lType":"str","cell_cType":"str","x":411.0000343322754,"y":165.57488441467285,"wires":[["5ae8c113.6376e"]]},{"id":"5ae8c113.6376e","type":"json","z":"2a53da84.536196","name":"parse google sheet to json","property":"payload","action":"obj","pretty":false,"x":650.9186706542969,"y":168.0000343322754,"wires":[["3b64f299.1b5e7e","5437dd1d.ffcc44"]]},{"id":"3b64f299.1b5e7e","type":"function","z":"2a53da84.536196","name":"save to global json","func":"context.global.table=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":912.7519760131836,"y":163.46669387817383,"wires":[[]]},{"id":"5437dd1d.ffcc44","type":"debug","z":"2a53da84.536196","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":869.918773651123,"y":257.00003242492676,"wires":[]},{"id":"938c592d.1c5398","type":"function","z":"2a53da84.536196","name":"Line API Header","func":"var item = msg.payload;\nvar replyMessage = {\"type\": \"text\", \"text\": \"\"};\nvar replySticker = {\"type\": \"sticker\", \"packageId\": \"\",\"stickerId\":\"\"};\nvar replyPicture = {\"type\": \"image\", \"originalContentUrl\": \"\",\"previewImageUrl\": \"\"};\n\n\nfor(var i=0;i<3;i++)\n{\n    if(context.global.table[item][i] !== \" \"){\n        \n        switch(i){\n            case 0: \n                replyMessage = {\"type\": \"text\", \"text\": context.global.table[item][0]};\n                break ;\n            case 1:\n                replySticker = {\"type\": \"sticker\", \"packageId\": \"1\",\"stickerId\":context.global.table[item][1]};\n                break ;\n            case 2:\n                pic_url = context.global.table[item][2];\n                replyPicture = {\"type\": \"image\", \"originalContentUrl\": pic_url,\"previewImageUrl\": pic_url};\n                break ;\n        }\n        \n    }\n}\n\nmsg.payload = {\"messages\": [replyMessage,replyPicture,replySticker],\"replyToken\": context.global.replyToken};\nmsg.headers  ={\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token};\n\nreturn msg;","outputs":1,"noerr":0,"x":547.0000648498535,"y":620.0000190734863,"wires":[["62253106.3d5f3","e5a1052f.968428"]]},{"id":"12d621c5.04e71e","type":"switch","z":"2a53da84.536196","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"item[1][0]","vt":"global"},{"t":"cont","v":"item[2][0]","vt":"global"},{"t":"cont","v":"item[3][0]","vt":"global"},{"t":"cont","v":"item[4][0]","vt":"global"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":110,"y":640,"wires":[["accf6584.9ddc08"],["9265d027.169ca"],["dba6da8.7f49328"],["f444454f.82dcb8"],["99acd753.01b248"]]},{"id":"8293bbfa.2bc4f8","type":"inject","z":"2a53da84.536196","name":"","topic":"","payload":"果汁","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87.00000381469727,"y":495.1197509765625,"wires":[["12d621c5.04e71e"]]},{"id":"e616bf18.993a5","type":"google-spreadsheet","z":"2a53da84.536196","name":"google sheet","auth":"79ad30d2.2790e","sheet":"11aVcnAMBzD3x2JtaNNRXOfIZVkeIpqisqbfy48TQnaI","range":"drinks","method":"append","direction":"line","action":"get","clear":false,"line":false,"column":false,"fields":"all","save":"_sheet","selfields":[""],"cell_l":"","cell_c":"","input":"","output":"payload","saveType":"global","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","cell_lType":"str","cell_cType":"str","x":420.91868591308594,"y":57.000003814697266,"wires":[["e8af236f.98eee"]]},{"id":"e8af236f.98eee","type":"json","z":"2a53da84.536196","name":"parse to item","property":"payload","action":"obj","pretty":false,"x":598.9186477661133,"y":56.000000953674316,"wires":[["c57a4883.65fb28","b104eea2.8dffe"]]},{"id":"c57a4883.65fb28","type":"function","z":"2a53da84.536196","name":"save to global json","func":"context.global.item=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":788.9187545776367,"y":54.999999046325684,"wires":[[]]},{"id":"b104eea2.8dffe","type":"debug","z":"2a53da84.536196","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":779.9187698364258,"y":107.00000476837158,"wires":[]},{"id":"accf6584.9ddc08","type":"function","z":"2a53da84.536196","name":"context.global.table","func":"msg.payload = context.global.item[1][0];\nreturn msg;","outputs":1,"noerr":0,"x":303.0000419616699,"y":579.068359375,"wires":[["938c592d.1c5398"]]},{"id":"9265d027.169ca","type":"function","z":"2a53da84.536196","name":"context.global.table","func":"msg.payload = context.global.item[2][0];\nreturn msg;","outputs":1,"noerr":0,"x":300.0000419616699,"y":622.0684385299683,"wires":[["938c592d.1c5398"]]},{"id":"dba6da8.7f49328","type":"function","z":"2a53da84.536196","name":"context.global.table","func":"msg.payload = context.global.item[3][0];\nreturn msg;","outputs":1,"noerr":0,"x":302.0000419616699,"y":660.0684385299683,"wires":[["938c592d.1c5398"]]},{"id":"f444454f.82dcb8","type":"function","z":"2a53da84.536196","name":"context.global.table","func":"msg.payload = context.global.item[4][0];\nreturn msg;","outputs":1,"noerr":0,"x":303.0000419616699,"y":698.0684385299683,"wires":[["938c592d.1c5398"]]},{"id":"62253106.3d5f3","type":"debug","z":"2a53da84.536196","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":540,"wires":[]},{"id":"509d9dc5.ba7054","type":"function","z":"2a53da84.536196","name":"parse text","func":"\n/*\nvar replyMessage = {\"type\": \"text\", \"text\": message};\nvar replySticker = {\"type\": \"sticker\", \"packageId\": \"1\",\"stickerId\":\"1\"};\nvar replyPicture = {\"type\": \"image\", \"originalContentUrl\": pic_url,\"previewImageUrl\": pic_url};\nvar replyLocation = {\"type\": \"location\", \"title\": \"山雲科技地址\",\"address\":\"100台北市中正區濟南路一段321號\",\"latitude\":\"25.042075\",\"longitude\":\"121.525352\"};\nvar replyTemplate = {\"type\": \"template\", \"altText\": \"問卷調查\",\"template\":{\n    type: 'confirm',\n    text: '哲軒好帥',\n    actions: [{\n      type: 'message',\n      label: 'Yes',\n      text: 'yes'\n    }, {\n      type: 'message',\n      label: 'No',\n      text: 'no'\n    }]\n  }};\n*/\n\nvar event = msg.payload[\"events\"][0];\nif(event[\"message\"][\"type\"] != \"text\"){\n    return msg;\n}\n\nvar message = event[\"message\"][\"text\"];\ncontext.global.replyToken = event[\"replyToken\"];\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":263.0000991821289,"y":410.0000247955322,"wires":[["12d621c5.04e71e"]]},{"id":"c4740590.ec2bd8","type":"comment","z":"2a53da84.536196","name":"hasOwnProperty","info":"","x":107.10000610351562,"y":35.60000991821289,"wires":[]},{"id":"fe5fa8e2.ea01b8","type":"change","z":"2a53da84.536196","name":"","rules":[{"t":"set","p":"_sheet","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200.10000610351562,"y":69.80000305175781,"wires":[["e616bf18.993a5","6948e67c.d0b8b8"]]},{"id":"99acd753.01b248","type":"function","z":"2a53da84.536196","name":"Line API Header 投票","func":"var item = msg.payload;\nvar replyMessage = {\"type\": \"text\", \"text\": \"您所要找的商品不在清單中\"};\n\nvar replyTemplate = {\"type\": \"template\", \"altText\": \"問卷調查\",\"template\":{\n    type: 'confirm',\n    text: '賣場服務滿意度',\n    actions: [{\n      type: 'message',\n      label: '好',\n      text: '好'\n    }, {\n      type: 'message',\n      label: '不好',\n      text: '不好'\n    }]\n  }};\n\n\nif(item=='投票')\n    msg.payload = {\"messages\": [replyTemplate],\"replyToken\": context.global.replyToken};\nelse\n     msg.payload = {\"messages\": [replyMessage],\"replyToken\": context.global.replyToken};\n\n  msg.headers  ={\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token}; \n  return msg;\n","outputs":1,"noerr":0,"x":560,"y":780,"wires":[["e5a1052f.968428"]]},{"id":"6962b061.aeb91","type":"http request","z":"49459178.c9087","name":"LINE REPLY API","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/reply","tls":"","x":750,"y":120,"wires":[[]]},{"id":"8947272.c0846d8","type":"http in","z":"49459178.c9087","name":"line bot","url":"/linebot","method":"post","upload":false,"swaggerDoc":"","x":110,"y":440,"wires":[["b90c6db4.08353","b77a39d8.71d4a8","23cfd751.beded8"]]},{"id":"b90c6db4.08353","type":"websocket out","z":"49459178.c9087","name":"line to local","server":"7f523c9e.9be0e4","client":"","x":270,"y":440,"wires":[]},{"id":"b77a39d8.71d4a8","type":"debug","z":"49459178.c9087","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":500,"wires":[]},{"id":"710e7b2b.cc20e4","type":"debug","z":"49459178.c9087","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":220,"wires":[]},{"id":"b65ee404.b1fba8","type":"debug","z":"49459178.c9087","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":120,"wires":[]},{"id":"a6b4dcbd.a185e","type":"switch","z":"49459178.c9087","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"payload","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":200,"wires":[["710e7b2b.cc20e4"]]},{"id":"9a228950.3d1068","type":"json","z":"49459178.c9087","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["b65ee404.b1fba8","56c4f6cd.6de088"]]},{"id":"56c4f6cd.6de088","type":"change","z":"49459178.c9087","name":"","rules":[{"t":"move","p":"payload.headers","pt":"msg","to":"headers","tot":"msg"},{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["6962b061.aeb91","dd1f7739.7e7358"]]},{"id":"dd1f7739.7e7358","type":"debug","z":"49459178.c9087","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":20,"wires":[]},{"id":"4da41275.cb875c","type":"link in","z":"49459178.c9087","name":"","links":["321763e1.6fa58c"],"x":620,"y":80,"wires":[["6962b061.aeb91"]]},{"id":"23cfd751.beded8","type":"link out","z":"49459178.c9087","name":"","links":["8dd9d817.bf1478"],"x":240,"y":400,"wires":[]},{"id":"90fe106a.5e18","type":"debug","z":"2a53da84.536196","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":340,"wires":[]},{"id":"d17785aa.55b9c8","type":"link in","z":"2a53da84.536196","name":"","links":[],"x":84,"y":366,"wires":[["509d9dc5.ba7054","90fe106a.5e18"]]},{"id":"e5a1052f.968428","type":"http request","z":"2a53da84.536196","name":"LINE REPLY API","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/reply","tls":"","x":750,"y":660,"wires":[[]]},{"id":"9a8083a6.00316","type":"inject","z":"a52cebee.bc3b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"20","x":233.10001373291016,"y":211.0000057220459,"wires":[["d75a595e.8a94d8"]]},{"id":"d75a595e.8a94d8","type":"websocket out","z":"a52cebee.bc3b58","name":"push restart info","server":"7f523c9e.9be0e4","client":"","x":541.0000648498535,"y":213.00001907348633,"wires":[]}]