.flows.json.backup
[{"id":"4e66d9fe.5d3548","type":"tab","label":"server端程式","disabled":false,"info":""},{"id":"b5fd80ef.f11bd","type":"tab","label":"keep awake","disabled":false,"info":""},{"id":"4d9c9b7e.bcc714","type":"tab","label":"token set","disabled":false,"info":""},{"id":"cddfcb98.b89618","type":"tab","label":"Picture","disabled":false,"info":""},{"id":"b8878e86.02b73","type":"tab","label":"read google sheet","disabled":false,"info":""},{"id":"5bf8fd9d.3c8ea4","type":"websocket-listener","z":"","path":"/ws/publine","wholemsg":"false"},{"id":"215507ad.d8f4c8","type":"mqtt-broker","z":"b5fd80ef.f11bd","broker":"m20.cloudmqtt.com","port":"15555","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7e7a457a.ed803c","type":"mqtt-broker","z":"b5fd80ef.f11bd","broker":"m20.cloudmqtt.com","port":"15555","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a00a737c.d1044","type":"mqtt-broker","z":"b5fd80ef.f11bd","broker":"m13.cloudmqtt.com","port":"16948","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"17170c16.25dba4","type":"websocket-client","z":"","path":"https://a3anodered1.herokuapp.com/subline","tls":"","wholemsg":"false"},{"id":"eeb30af2.4c8818","type":"websocket-listener","z":"","path":"/ws/pic","wholemsg":"false"},{"id":"66cefc99.34fc24","type":"websocket-client","z":"","path":"ws://a3anodered1.herokuapp.com/ws/publine","tls":"","wholemsg":"false"},{"id":"42adca17.def214","type":"websocket-client","z":"","path":"ws://a3anodered1.herokuapp.com/ws/pic","tls":"","wholemsg":"false"},{"id":"e173d802.d2a378","type":"google-service-account","z":"","name":"jason1990","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"4e30fda3.939b64","type":"websocket in","z":"4e66d9fe.5d3548","name":"","server":"5bf8fd9d.3c8ea4","client":"","x":100.10004806518555,"y":166.20001029968262,"wires":[["28117ca9.784434"]]},{"id":"2d752983.e00f86","type":"debug","z":"4e66d9fe.5d3548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":598.1001167297363,"y":174.00000858306885,"wires":[]},{"id":"358a0669.f4e6da","type":"http request","z":"b5fd80ef.f11bd","name":"Call Node-RED Heroku","method":"GET","ret":"txt","url":"https://a3anodered1.herokuapp.com","tls":"","x":388.5000305175781,"y":92.00003814697266,"wires":[[]]},{"id":"1cc09a2a.009466","type":"inject","z":"b5fd80ef.f11bd","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":154.1000213623047,"y":92.00001907348633,"wires":[["358a0669.f4e6da"]]},{"id":"9be00326.964e3","type":"inject","z":"4e66d9fe.5d3548","name":"","topic":"","payload":"token","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155.10001373291016,"y":96.00000858306885,"wires":[["d210465f.d301c8"]]},{"id":"d210465f.d301c8","type":"debug","z":"4e66d9fe.5d3548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":359.00000381469727,"y":106.99999904632568,"wires":[]},{"id":"384e4605.09261a","type":"function","z":"4e66d9fe.5d3548","name":"Line API Header","func":"context.global.token = msg.payload.token;\nreturn msg;\n","outputs":1,"noerr":0,"x":602.0000686645508,"y":293.0000104904175,"wires":[[]]},{"id":"cb1dd0c9.771a4","type":"change","z":"4e66d9fe.5d3548","name":"","rules":[{"t":"set","p":"pic","pt":"global","to":"payload.pic.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":378.10001373291016,"y":147.0000123977661,"wires":[["2d752983.e00f86"]]},{"id":"414c06ac.020a98","type":"switch","z":"4e66d9fe.5d3548","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"pic","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":307.1000099182129,"y":286.00001335144043,"wires":[["cb1dd0c9.771a4"],["384e4605.09261a"]]},{"id":"28117ca9.784434","type":"json","z":"4e66d9fe.5d3548","name":"","property":"payload","action":"","pretty":false,"x":222.1000099182129,"y":239.99999904632568,"wires":[["414c06ac.020a98","2d752983.e00f86"]]},{"id":"41eaaef7.0e486","type":"websocket in","z":"4e66d9fe.5d3548","name":"","server":"eeb30af2.4c8818","client":"","x":125.00000381469727,"y":352.0000162124634,"wires":[["ffc1c95f.0ad238","27bb77b9.065b78"]]},{"id":"ffc1c95f.0ad238","type":"change","z":"4e66d9fe.5d3548","name":"","rules":[{"t":"set","p":"pic","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":319.0000114440918,"y":358.0000162124634,"wires":[["b373a80f.e90448"]]},{"id":"b373a80f.e90448","type":"debug","z":"4e66d9fe.5d3548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":513.0000190734863,"y":362.0000162124634,"wires":[]},{"id":"b2d857fd.be7158","type":"change","z":"4d9c9b7e.bcc714","name":"","rules":[{"t":"set","p":"token","pt":"global","to":"NXZDKomlfEej4kgaapdSSzl532ilxcDktjlUUoSCOgJIXIAaX67Fbh219zcd0Wj8kBc+GD9YZOT4oITZG0aMaRdCdWbeuWjnvoLET2cMTtduP0Yi8IQ1pXa3jrR1XsEeQ8042sfl4fMsW0atRkSA3QdB04t89/1O/w1cDnyilFU=","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[[]]},{"id":"ba573c8c.b840b","type":"inject","z":"4d9c9b7e.bcc714","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":250,"y":100,"wires":[["b2d857fd.be7158"]]},{"id":"27bb77b9.065b78","type":"debug","z":"4e66d9fe.5d3548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":326.00000381469727,"y":437.9999990463257,"wires":[]},{"id":"2c560f7d.e53af","type":"change","z":"cddfcb98.b89618","name":"","rules":[{"t":"set","p":"pic1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":362.0000991821289,"y":216.00004291534424,"wires":[[]]},{"id":"d87a1027.0f26c","type":"fileinject","z":"cddfcb98.b89618","name":"","x":183.10006713867188,"y":216.00003719329834,"wires":[["2c560f7d.e53af"]]},{"id":"4be75b7.a2a48a4","type":"fileinject","z":"cddfcb98.b89618","name":"","x":177.10002899169922,"y":279.0000286102295,"wires":[["b68887b3.430298"]]},{"id":"28baf804.a970f8","type":"fileinject","z":"cddfcb98.b89618","name":"","x":174.10002899169922,"y":334.0000286102295,"wires":[["f3f82a78.329a68"]]},{"id":"51886b4a.c40694","type":"http in","z":"cddfcb98.b89618","name":"","url":"/pic1.jpg","method":"get","upload":false,"swaggerDoc":"","x":164,"y":31,"wires":[["a2281301.90fa5"]]},{"id":"a2281301.90fa5","type":"change","z":"cddfcb98.b89618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pic1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":348.00000762939453,"y":32.00000190734863,"wires":[["166a6f6c.492481"]]},{"id":"166a6f6c.492481","type":"http response","z":"cddfcb98.b89618","name":"","statusCode":"","headers":{},"x":514.0000648498535,"y":31,"wires":[]},{"id":"9e58ca52.231608","type":"http in","z":"cddfcb98.b89618","name":"","url":"/pic2.jpg","method":"get","upload":false,"swaggerDoc":"","x":165,"y":72,"wires":[["bff40489.1fd598"]]},{"id":"bff40489.1fd598","type":"change","z":"cddfcb98.b89618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pic2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.00000762939453,"y":73.00000190734863,"wires":[["8e54bf14.b8217"]]},{"id":"8e54bf14.b8217","type":"http response","z":"cddfcb98.b89618","name":"","statusCode":"","headers":{},"x":515.0000648498535,"y":72,"wires":[]},{"id":"6b53baba.66c744","type":"http in","z":"cddfcb98.b89618","name":"","url":"/pic3.jpg","method":"get","upload":false,"swaggerDoc":"","x":161,"y":115,"wires":[["52f5c515.52e72c"]]},{"id":"52f5c515.52e72c","type":"change","z":"cddfcb98.b89618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pic3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":345.00000762939453,"y":116.00000190734863,"wires":[["f69897e3.b9de98"]]},{"id":"f69897e3.b9de98","type":"http response","z":"cddfcb98.b89618","name":"","statusCode":"","headers":{},"x":511.0000648498535,"y":115,"wires":[]},{"id":"b68887b3.430298","type":"change","z":"cddfcb98.b89618","name":"","rules":[{"t":"set","p":"pic2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":358.0000114440918,"y":277.00000858306885,"wires":[[]]},{"id":"f3f82a78.329a68","type":"change","z":"cddfcb98.b89618","name":"","rules":[{"t":"set","p":"pic3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":364,"y":331,"wires":[[]]},{"id":"7d69837e.30279c","type":"google-spreadsheet","z":"b8878e86.02b73","name":"google sheet","auth":"e173d802.d2a378","sheet":"11aVcnAMBzD3x2JtaNNRXOfIZVkeIpqisqbfy48TQnaI","range":"drinks","method":"append","direction":"line","action":"get","clear":false,"line":true,"column":false,"fields":"all","save":"_sheet","selfields":[""],"cell_l":"","cell_c":"","input":"","output":"payload","saveType":"global","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","cell_lType":"str","cell_cType":"str","x":411.0000343322754,"y":165.57488441467285,"wires":[["b9af0f9.7da49f"]]},{"id":"b9af0f9.7da49f","type":"json","z":"b8878e86.02b73","name":"parse google sheet to json","property":"payload","action":"obj","pretty":false,"x":650.9186706542969,"y":168.0000343322754,"wires":[["3e2a36a1.f02e2a","33c041ff.105d7e"]]},{"id":"3e2a36a1.f02e2a","type":"function","z":"b8878e86.02b73","name":"save to global json","func":"context.global.table=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":912.7519760131836,"y":163.46669387817383,"wires":[[]]},{"id":"33c041ff.105d7e","type":"debug","z":"b8878e86.02b73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":869.918773651123,"y":257.00003242492676,"wires":[]},{"id":"e1f3a2a7.a4c29","type":"function","z":"b8878e86.02b73","name":"Line API Header","func":"var item = msg.payload;\nvar replyMessage = {\"type\": \"text\", \"text\": \"\"};\nvar replySticker = {\"type\": \"sticker\", \"packageId\": \"\",\"stickerId\":\"\"};\nvar replyPicture = {\"type\": \"image\", \"originalContentUrl\": \"\",\"previewImageUrl\": \"\"};\n\n\nfor(var i=0;i<3;i++)\n{\n    if(context.global.table[item][i] !== \" \"){\n        \n        switch(i){\n            case 0: \n                replyMessage = {\"type\": \"text\", \"text\": context.global.table[item][0]};\n                break ;\n            case 1:\n                replySticker = {\"type\": \"sticker\", \"packageId\": \"1\",\"stickerId\":context.global.table[item][1]};\n                break ;\n            case 2:\n                pic_url = context.global.table[item][2];\n                replyPicture = {\"type\": \"image\", \"originalContentUrl\": pic_url,\"previewImageUrl\": pic_url};\n                break ;\n        }\n        \n    }\n}\n\nmsg.payload = {\"messages\": [replyMessage,replyPicture,replySticker],\"replyToken\": context.global.replyToken};\nmsg.headers  ={\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token};\n\nreturn msg;","outputs":1,"noerr":0,"x":547.0000648498535,"y":620.0000190734863,"wires":[["d29d9745.868dc8","a201bc46.d24a2"]]},{"id":"f2ad8874.993968","type":"switch","z":"b8878e86.02b73","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"item[1][0]","vt":"global"},{"t":"cont","v":"item[2][0]","vt":"global"},{"t":"cont","v":"item[3][0]","vt":"global"},{"t":"cont","v":"item[4][0]","vt":"global"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":110,"y":640,"wires":[["3f6bf4b9.462c0c"],["4a955d1a.b978d4"],["b940016e.01651"],["eeba2ef9.11fe4"],["c4ea5c5c.288ab"]]},{"id":"ebead84c.b5f1d8","type":"inject","z":"b8878e86.02b73","name":"","topic":"","payload":"果汁","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87.00000381469727,"y":495.1197509765625,"wires":[["f2ad8874.993968"]]},{"id":"660702e1.26b4ac","type":"google-spreadsheet","z":"b8878e86.02b73","name":"google sheet","auth":"e173d802.d2a378","sheet":"11aVcnAMBzD3x2JtaNNRXOfIZVkeIpqisqbfy48TQnaI","range":"drinks","method":"append","direction":"line","action":"get","clear":false,"line":false,"column":false,"fields":"all","save":"_sheet","selfields":[""],"cell_l":"","cell_c":"","input":"","output":"payload","saveType":"global","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","cell_lType":"str","cell_cType":"str","x":420.91868591308594,"y":57.000003814697266,"wires":[["89e8eb96.d3f3e8"]]},{"id":"89e8eb96.d3f3e8","type":"json","z":"b8878e86.02b73","name":"parse to item","property":"payload","action":"obj","pretty":false,"x":598.9186477661133,"y":56.000000953674316,"wires":[["7bc99ecc.997a4","68810914.5d2798"]]},{"id":"7bc99ecc.997a4","type":"function","z":"b8878e86.02b73","name":"save to global json","func":"context.global.item=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":788.9187545776367,"y":54.999999046325684,"wires":[[]]},{"id":"68810914.5d2798","type":"debug","z":"b8878e86.02b73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":779.9187698364258,"y":107.00000476837158,"wires":[]},{"id":"3f6bf4b9.462c0c","type":"function","z":"b8878e86.02b73","name":"context.global.table","func":"msg.payload = context.global.item[1][0];\nreturn msg;","outputs":1,"noerr":0,"x":303.0000419616699,"y":579.068359375,"wires":[["e1f3a2a7.a4c29"]]},{"id":"4a955d1a.b978d4","type":"function","z":"b8878e86.02b73","name":"context.global.table","func":"msg.payload = context.global.item[2][0];\nreturn msg;","outputs":1,"noerr":0,"x":300.0000419616699,"y":622.0684385299683,"wires":[["e1f3a2a7.a4c29"]]},{"id":"b940016e.01651","type":"function","z":"b8878e86.02b73","name":"context.global.table","func":"msg.payload = context.global.item[3][0];\nreturn msg;","outputs":1,"noerr":0,"x":302.0000419616699,"y":660.0684385299683,"wires":[["e1f3a2a7.a4c29"]]},{"id":"eeba2ef9.11fe4","type":"function","z":"b8878e86.02b73","name":"context.global.table","func":"msg.payload = context.global.item[4][0];\nreturn msg;","outputs":1,"noerr":0,"x":303.0000419616699,"y":698.0684385299683,"wires":[["e1f3a2a7.a4c29"]]},{"id":"d29d9745.868dc8","type":"debug","z":"b8878e86.02b73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":540,"wires":[]},{"id":"b083edb2.a11e5","type":"http in","z":"b8878e86.02b73","name":"line bot","url":"/linebot","method":"post","upload":false,"swaggerDoc":"","x":114.00001907348633,"y":413.00002098083496,"wires":[["275af8a5.83fb18","2c9a6f1d.79f56","eb13cac6.7416d8","1227d661.075b8a"]]},{"id":"275af8a5.83fb18","type":"function","z":"b8878e86.02b73","name":"parse text","func":"\n/*\nvar replyMessage = {\"type\": \"text\", \"text\": message};\nvar replySticker = {\"type\": \"sticker\", \"packageId\": \"1\",\"stickerId\":\"1\"};\nvar replyPicture = {\"type\": \"image\", \"originalContentUrl\": pic_url,\"previewImageUrl\": pic_url};\nvar replyLocation = {\"type\": \"location\", \"title\": \"山雲科技地址\",\"address\":\"100台北市中正區濟南路一段321號\",\"latitude\":\"25.042075\",\"longitude\":\"121.525352\"};\nvar replyTemplate = {\"type\": \"template\", \"altText\": \"問卷調查\",\"template\":{\n    type: 'confirm',\n    text: '哲軒好帥',\n    actions: [{\n      type: 'message',\n      label: 'Yes',\n      text: 'yes'\n    }, {\n      type: 'message',\n      label: 'No',\n      text: 'no'\n    }]\n  }};\n*/\n\nvar event = msg.payload[\"events\"][0];\nif(event[\"message\"][\"type\"] != \"text\"){\n    return msg;\n}\n\nvar message = event[\"message\"][\"text\"];\ncontext.global.replyToken = event[\"replyToken\"];\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":263.0000991821289,"y":410.0000247955322,"wires":[["f2ad8874.993968"]]},{"id":"a201bc46.d24a2","type":"http request","z":"b8878e86.02b73","name":"LINE REPLY API","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/reply","tls":"","x":810.0001220703125,"y":621.0000667572021,"wires":[[]]},{"id":"2c9a6f1d.79f56","type":"websocket out","z":"b8878e86.02b73","name":"line to local","server":"","client":"17170c16.25dba4","x":290,"y":340,"wires":[]},{"id":"8d0439d2.5934b8","type":"comment","z":"b8878e86.02b73","name":"hasOwnProperty","info":"","x":107.10000610351562,"y":35.60000991821289,"wires":[]},{"id":"1227d661.075b8a","type":"change","z":"b8878e86.02b73","name":"","rules":[{"t":"set","p":"_sheet","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200.10000610351562,"y":69.80000305175781,"wires":[["660702e1.26b4ac","7d69837e.30279c"]]},{"id":"eb13cac6.7416d8","type":"debug","z":"b8878e86.02b73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":280,"wires":[]},{"id":"c4ea5c5c.288ab","type":"function","z":"b8878e86.02b73","name":"Line API Header 投票","func":"var item = msg.payload;\nvar replyMessage = {\"type\": \"text\", \"text\": \"您所要找的商品不在清單中\"};\n\nvar replyTemplate = {\"type\": \"template\", \"altText\": \"問卷調查\",\"template\":{\n    type: 'confirm',\n    text: '賣場服務滿意度',\n    actions: [{\n      type: 'message',\n      label: '好',\n      text: '好'\n    }, {\n      type: 'message',\n      label: '不好',\n      text: '不好'\n    }]\n  }};\n\n\nif(item=='投票')\n    msg.payload = {\"messages\": [replyTemplate],\"replyToken\": context.global.replyToken};\nelse\n     msg.payload = {\"messages\": [replyMessage],\"replyToken\": context.global.replyToken};\n\n  msg.headers  ={\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token}; \n  return msg;\n","outputs":1,"noerr":0,"x":560,"y":780,"wires":[["a201bc46.d24a2"]]}]